@{
    ViewBag.Title = "Números Aleatorios";
}

<h4>Números Aleatorios</h4>
<hr />
<p><strong>Arreglo:</strong> @string.Join(", ", ViewBag.Numeros)</p>
<p><strong>Arreglo ordenado:</strong> @string.Join(", ", ViewBag.NumerosOrdenados)</p>
<p><strong>Suma:</strong> @ViewBag.Suma</p>
<p><strong>Pormedio</strong> @ViewBag.Promedio</p>
<p><strong>Moda:</strong> @string.Join(" y ", ViewBag.Moda)</p>
<p><strong>Mediana</strong> @ViewBag.Mediana</p>
